In [39]:
import pandas as var_pandas
import numpy as var_numpy
import matplotlib.pyplot as var_pyplot
import math as var_math
from sklearn import linear_model

In [40]:
train_df = var_pandas.read_csv("../data/cbex-mvlr-home-prices-train.csv")
train_df

   area  bedrooms  age   price
0  2000       3.0   20  550000
1  2500       3.0   15  650000
2  3000       3.0   25  620000
3  3200       NaN   15  750000
4  3500       4.0   30  680000
5  4000       5.0   15  900000
6  4200       5.0   20  860000
7  4500       5.0   25  840000
8  5000       NaN   20  980000

In [41]:
median_bedrooms = var_math.floor(train_df.bedrooms.median())
median_bedrooms

4

In [42]:
train_df.bedrooms = train_df.bedrooms.fillna(median_bedrooms)
train_df

   area  bedrooms  age   price
0  2000       3.0   20  550000
1  2500       3.0   15  650000
2  3000       3.0   25  620000
3  3200       4.0   15  750000
4  3500       4.0   30  680000
5  4000       5.0   15  900000
6  4200       5.0   20  860000
7  4500       5.0   25  840000
8  5000       4.0   20  980000

In [43]:
var_model = linear_model.LinearRegression()
var_model.fit(train_df[['area','bedrooms','age']], train_df.price)
var_model

LinearRegression()

In [44]:
var_model.coef_, var_model.intercept_

(array([  141.12512124,  7691.56159069, -9361.78467507]), 420349.17555771174)

In [45]:
test_df = var_pandas.read_csv("../data/cbex-mvlr-home-prices-test.csv")
test_df.head(5)

   area  bedrooms  age
0  1500         2   15
1  2200         3   20
2  2800         3    5
3  3700         4   40
4  5200         5    5

In [46]:
predicted_prices = var_model.predict(test_df)
test_df['precited_price'] = predicted_prices
test_df.to_csv("../.outputs/cbex-mvlr-home-prices-test-results.csv", index=False)
test_df

   area  bedrooms  age  precited_price
0  1500         2   15    5.069932e+05
1  2200         3   20    5.666634e+05
2  2800         3    5    7.917653e+05
3  3700         4   40    5.988070e+05
4  5200         5    5    1.145849e+06
5  1800         2    5    6.429486e+05
6  5500         5   35    9.073327e+05