In [105]:
import pandas as var_pandas
import numpy as var_numpy
import matplotlib.pyplot as var_pyplot
import math as var_math
from word2number import w2n as var_w2n
from sklearn import linear_model

In [106]:
train_df = var_pandas.read_csv("../data/cbex-mvlr-hiring-salaries-train.csv")
train_df

  experience  test_score  interview_score  salary
0        NaN         8.0              9.0   50000
1        NaN         8.0              6.0   45000
2       five         6.0              7.0   60000
3        two        10.0             10.0   65000
4      seven         9.0              NaN   70000
5      three         7.0             10.0   62000
6        ten         NaN              7.0   72000
7     eleven         7.0              8.0   80000

Data Preprocessing - Fill Gaps, Transform

In [107]:
# Fill Gaps
train_df.test_score = train_df.test_score.fillna(var_math.floor(train_df.test_score.median()))
train_df.interview_score = train_df.interview_score.fillna(var_math.floor(train_df.interview_score.median()))
train_df.experience = train_df.experience.fillna('zero')

# Transform Numbers from String form to Numerical form
number_experiences = []
for i in range(train_df.experience.size):
    number_experiences.append(var_w2n.word_to_num(train_df.experience[i]))
train_df.experience = var_pandas.Series(number_experiences)

# Curated Training Data Frame
train_df

   experience  test_score  interview_score  salary
0           0         8.0              9.0   50000
1           0         8.0              6.0   45000
2           5         6.0              7.0   60000
3           2        10.0             10.0   65000
4           7         9.0              8.0   70000
5           3         7.0             10.0   62000
6          10         8.0              7.0   72000
7          11         7.0              8.0   80000

In [108]:
var_model = linear_model.LinearRegression()
var_model.fit(train_df[['experience','test_score','interview_score']], train_df.salary)
var_model

LinearRegression()

In [109]:
var_model.coef_, var_model.intercept_

(array([2730.18801617, 1117.37831664, 2756.9847127 ]), 18831.75188894746)

In [110]:
test_df = var_pandas.read_csv("../data/cbex-mvlr-hiring-salaries-test.csv")
test_df.head(5)

   experience  test_score  interview_score
0           2           9                6
1          12          10               10

In [111]:
predicted_salaries = var_model.predict(test_df)
test_df['predicted_salary'] = predicted_salaries
test_df.to_csv("../.outputs/cbex-mvlr-hiring-salaries-test-results.csv", index=False)
test_df

   experience  test_score  interview_score  predicted_salary
0           2           9                6      50890.441047
1          12          10               10      90337.638376